@charset 'utf-8';

/*--- bxSlider 재정의 ---*/
.bn-sec .bx-wrapper {position: relative; margin: 0 auto; border: none; width: 100%; box-shadow: none; height: 533px; background: #fafafa;}
.bn-sec .bx-wrapper .bx-loading {background: none;}
.bn-sec .bx-wrapper .bx-viewport {border: none; box-shadow: none; left: 0; background: none;}
.bn-sec .bx-wrapper .bx-controls {}
.bn-sec .bx-wrapper .bx-controls-direction {position: absolute; width: 100%; width: 100%; left: 0; top: 50%; margin-top: -22.5px;}
.bn-sec .bx-wrapper .bx-controls-direction a {display: block;}
.bn-sec .bx-wrapper .bx-controls-direction a {background: none; width: 45px; height: 45px; top: 0; margin-top: 0; z-index: 1;}
.bn-sec .bx-wrapper .bx-prev {left: 30px;}
.bn-sec .bx-wrapper .bx-next {right: 30px;}
.bn-sec .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto
, .bn-sec .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {display: none;}
.bn-sec .bx-wrapper .bx-controls-direction {margin-top: -29.5px; display: none;}
/*.bn-sec .bx-wrapper .bx-controls-direction a {width: 60px; height: 59px;}*/
.bn-sec .bx-wrapper .bx-pager {padding: 0; text-align: center; box-sizing: border-box; bottom: 26px;}
.bn-sec .bx-wrapper .bx-pager.bx-default-pager a {background: #c5c5c5; margin: 0 10px; width: 35px; height: 4px; border-radius: 0;}
.bn-sec .bx-wrapper .bx-pager.bx-default-pager a:hover, .bn-sec .bx-wrapper .bx-pager.bx-default-pager a.active
, .bn-sec .bx-wrapper .bx-pager.bx-default-pager a:focus {background: #fc652c;}
/*.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {}*/



/* 공통 */
.rnM-mainDoor .rn-container
, .rnM-contents .rn-container 
	{position: relative; width: 1200px; padding-left: 5px; min-width: auto; margin: 0 auto; box-sizing: border-box;}

/* 헤더 영역 */
.rnL-header {position: relative; border-top: 3px solid #fa6b0a; border-bottom: 1px solid #ddd; height: 120px;}
.rnL-header .d-box {position: relative; top: 31px; font-size: 0;}
.rnL-header .flr-box {top: 47px;}
.rnL-header .d-box .dLink-box {top: 2px;}

/* 대문 이미지 */
.rnM-mainDoor {position: relative; width: 100%; height: 681px; background: #eaeaea url(http://img.go.co.kr/renew/mainDoor_01.jpg) no-repeat center; padding-top: 170px;}
.rnM-mainDoor .main-text {display: block;}
.rnM-mainDoor .main-text > span {display: block; color: #fff; font-weight: 700; text-shadow: 2px 2px 2px rgba(0,0,0, .3);}
.rnM-mainDoor .main-text .s1 {font-size: 31px; letter-spacing: -0.5px;}
.rnM-mainDoor .main-text .s2 {font-size: 64px; letter-spacing: -3px;}

.rnM-mainDoor .rn-schBox {position: relative; width: 100%; margin: 34px auto 0; }
.rnM-mainDoor .rn-schBox > div {float: left;}
.rnM-mainDoor .rn-schInner {position: relative; width: 1053px; height: 151px; border-top: 4px solid #fa6b0a; background: url(http://img.go.co.kr/rgbaW_80.png) repeat; padding: 27px 10px 0px 3px;}
.ie8 .rnM-mainDoor .rn-schInner {background: #fff;}
.rnM-mainDoor .rn-schInner > div {position: relative; float: left; margin-left: 15px; cursor: pointer;}
/*.ie8 .rnM-mainDoor .rn-schBox .cm-s {background-position: 140px center;}*/
.rnM-mainDoor .rn-schInner div[class*=d-cmm] {z-index: 11;}
.rnM-mainDoor .rn-schInner .d1 {width: 230px;}
.rnM-mainDoor .rn-schInner .d2 {position: relative; width: 168px;}
.rnM-mainDoor .rn-schInner .d3 {width: 186px;}
.rnM-mainDoor .rn-schInner .d4 {width: 228px;}
.rnM-mainDoor .rn-schInner > div > p {position: relative;}
.rnM-mainDoor .rn-schInner .p0 {color: #484848; font-size: 16px; padding-left: 4px;}
.rnM-mainDoor .rn-schInner .p1 {color: #626262; font-size: 19px; height: 67px; background: #fff; border: 1px solid #c8c8c8; margin-top: 2px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.rnM-mainDoor .rn-schInner .d2-1 .p1 {border-right: 0;}
.rnM-mainDoor .rn-schInner .d2-2 {margin-left: 0;}
.rnM-mainDoor .rn-schInner .d2-2 .p1 {border-left-color: #98989a;}
.rnM-mainDoor .rn-schBox [class*=cm-s]:after {
	content: ""; display: inline-block; position: absolute;
	background: url(http://img.go.co.kr/renew/sch_sprt.jpg) no-repeat center;
}
.rnM-mainDoor .rn-schInner .cm-s1 {padding: 19px 18px 0 14px;}
.rnM-mainDoor .rn-schInner .cm-s2, .rnM-mainDoor .rn-schInner .cm-s3 {padding: 19px 10px 0 45px;}
.rnM-mainDoor .rn-schInner .cm-s1:after {right: 14px; top: 24px; width: 10px; height: 16px; background-position: 0px 0px;}
.rnM-mainDoor .rn-schInner .cm-s2:after, .rnM-mainDoor .rn-schInner .cm-s3:after {width: 25px; height: 22px; position: absolute; left: 13px; top: 22px;}
.rnM-mainDoor .rn-schInner .cm-s2:after {background-position: -30px 0px;}
.rnM-mainDoor .rn-schInner .cm-s3:after {background-position: -60px 0px;}

.rnM-mainDoor .rn-schInner .p1 > span {position: relative; display: inline-block; vertical-align: middle;}
.rnM-mainDoor .rn-schInner .d1 .p1 > span {top: -4px;}
.rnM-mainDoor .rn-schInner .p1 .regName {font-size: 24px; font-weight: 700; margin-right: 6px;}

.rnM-mainDoor .rn-schBtn {width: 130px; height: 151px; margin-left: 5px;}
.rnM-mainDoor .rn-schBtn button {position: relative; width: 100%; height: 100%; border: none; background: #fa6b0a; color: #fff; font-size: 20px; cursor: pointer; font-family: "Noto Sans KR", "Nanum Gothic", sans-serif; font-weight: 500;}
.rnM-mainDoor .rn-schBtn button:hover {background: #fa761c;}
.rnM-mainDoor .rn-schBtn button .i-mag {top: -1px;}

/* 달력 위치 재조정 */
.rnSltReg, .rnSltCal {top: 6px;}
.rnSltReg {left: 0;}
.rnSltCal {left: 245px;}

/* 카테고리 픽토그램 링크*/
.rnM-contents .pic-sec {position: relative; height: 180px; background: #fff; margin: 0 auto;}
.rnM-contents .pic-sec .ul1 {position: absolute; margin-top: -53.5px;}
.rnM-contents .pic-sec .ul1 > li {float: left; margin-left: 200px;}
.rnM-contents .pic-sec .ul1 > li:first-child {margin-left: 80px;}
.rnM-contents .pic-sec .ul1 > li > a {display: block; width: 107px; border-radius: 50%; text-align: center; color: #3c3c3c; font-size: 21px; font-family: "Malgun Gothic", "Noto Sans KR", "Nanum Gothic", sans-serif; font-weight: 700;}
.rnM-contents .pic-sec .ul1 > li > a .c-ic2 {display: block; width: 100%; height: 107px; background: url(http://img.go.co.kr/renew/pic_sprt.png) no-repeat top center;}
.rnM-contents .pic-sec .ul1 > li.li-1 > a .c-ic2 {background-position: 0 0;}
.rnM-contents .pic-sec .ul1 > li.li-2 > a .c-ic2 {background-position: -120px 0;}
.rnM-contents .pic-sec .ul1 > li.li-3 > a .c-ic2 {background-position: -240px 0;}
.rnM-contents .pic-sec .ul1 > li.li-4 > a .c-ic2 {background-position: -360px 0;}
.rnM-contents .pic-sec .ul1 > li > a .s-text {display: block; line-height: 1.1; margin-top: 8px; letter-spacing: -1px;}
.rnM-contents .pic-sec .ul1 > li > a:hover .s-text {color: #fa6b0a;}

/* 배너 섹션 */
.rnM-contents .bn-sec {position: relative; height: 535px; background: #fafafa; border-top: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7;}
.rnM-contents .bn-sec .bxSlider-1 > li
, .rnM-contents .bn-sec .bxSlider-1 > li * 
	{font-family: "Noto Sans KR", "Malgun Gothic", "Nanum Gothic", sans-serif; letter-spacing: 0.5px;}
.rnM-contents .bn-sec .bxSlider-1 > li {position: relative; height: 533px;}
.rnM-contents .bn-sec .bxSlider-1 > li .bn-contents {position: absolute;}
.rnM-contents .bn-sec .bxSlider-1 > li .bn-contents .s1 {color: #ff6000;}
.rnM-contents .bn-sec .bxSlider-1 > li .bn-contents > p {}
.rnM-contents .bn-sec .bxSlider-1 > li .bn-contents .p1 {font-size: 22px;}
.rnM-contents .bn-sec .bxSlider-1 > li .bn-contents .p2 {font-size: 50px; font-weight: 700;}
.rnM-contents .bn-sec .bxSlider-1 > li .bn-contents .p3 {font-size: 20px;}
.rnM-contents .bn-sec .bxSlider-1 .li-1 {padding: 35px 0 0 236px;}
.rnM-contents .bn-sec .bxSlider-1 .li-1 .bn-img {}
.rnM-contents .bn-sec .bxSlider-1 .li-1 .bn-contents {top: 120px; left: 556px;}
.rnM-contents .bn-sec .bxSlider-1 .li-1 .bn-contents .d-store {margin-top: 34px;}
.rnM-contents .bn-sec .bxSlider-1 .li-1 .bn-contents .d-store a {display: inline-block;}
.rnM-contents .bn-sec .bxSlider-1 .li-1 .bn-contents .d-store a:first-child {margin-right: 10px;}
.rnM-contents .bn-sec .bxSlider-1 .li-2 {padding: 120px 0 0 26px;}
.rnM-contents .bn-sec .bxSlider-1 .li-2 .bn-contents {top: 150px; left: 570px;}
.rnM-contents .bn-sec .bxSlider-1 .li-2 .bn-contents .d-btnArea {margin-top: 34px;}
.rnM-contents .bn-sec .bxSlider-1 .li-2 .bn-contents .d-btnArea a {position: relative; display: inline-block; background: #ff6000; font-size: 16px; color: #fff; border-radius: 5px; padding: 6px 14px 8px; font-weight: 400;}
.rnM-contents .bn-sec .bxSlider-1 .li-2 .bn-contents .d-btnArea a:after {
	content: ""; position: relative; top: -2px; margin-left: 8px; display: inline-block; border: 1px solid #fff; width: 7px; height: 7px; 
	border-left: 0; border-top: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.ie8 .rnM-contents .bn-sec .bxSlider-1 .li-2 .bn-contents .d-btnArea a:after {content: "▶"; width: auto; height: auto; border: none;}

/* 추가 섹션1 */
.rnM-contents .add-sec {position: relative;}
.rnM-contents .add-sec .ul1 {padding: 28px 0;}
.rnM-contents .add-sec .ul1 > li {position: relative; float: left;  margin-left: 85px;}
.rnM-contents .add-sec .ul1 > li:before {content: ""; display: block; position: absolute; left: -42.5px; top: 9px; width: 1px; height: 60px; background: #e5e5e5; }
.rnM-contents .add-sec .ul1 > li:first-child:before {display: none;}
.rnM-contents .add-sec .ul1 > li > div {position: relative; float: left;}
.rnM-contents .add-sec .ul1 > li .d2 {margin-left: 14px; margin-top: 6px;}
.rnM-contents .add-sec .ul1 > li .d2 > p {color: #525252;}
.rnM-contents .add-sec .ul1 > li .d2 .p1 {font-size: 16px;}
.rnM-contents .add-sec .ul1 > li .d2 .p2 {font-size: 13px;}