<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>고코 리뉴얼</title>

	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/layout_new3.css" />
	<link rel="stylesheet" href="http://static.go.co.kr/css/totalweb.css">
	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/footer.css">
	<!--<link rel="stylesheet" type="text/css" href="../../src/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../src/css/layout_new3.css" />
	<link rel="stylesheet" href="../../src/css/totalweb.css">-->
	
	<!--폰트가지고 오기-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	
	<!--리뉴얼Css-->
	<link rel="stylesheet" href="../../src/css/renew/ion.rangeSlider.css">
	<link rel="stylesheet" href="../../src/css/renew/ion.rangeSlider.custom.css">
	<link rel="stylesheet" href="../../src/css/renew/list/init.css">
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	
	<!--리뉴얼 Js-->
	<script src="../../src/js/renew/ion.rangeSlider.min.js"></script>
	<script src="../../src/js/renew/list/init.js"></script>


</head>
<body>
	<!--
	<span class="c-ic i-mag"></span>
	<span class="c-ic i-comp"></span>
	<span class="c-ic i-blChk"></span>
	<span class="c-ic i-rDnArr"></span>
	<span class="c-ic i-mapv"></span>
	<span class="c-ic i-dArr"></span>
	<span class="c-ic i-alg"></span>
	<span class="c-ic i-gCal"></span>
	<span class="c-ic i-gSpot"></span>
	<span class="c-ic i-rArr"></span>
	<span class="c-ic i-yChk"></span>
	-->
	
	
	<h1 class="hidden">고코투어</h1>
	<!--리뉴얼 wrap 시작-->
	<div class="rn-gwrap">
		<div class="rnL-header clr bsLs">
			<div class="rn-container">
				<div class="d-box">
					<img class="l-img" src="http://img.go.co.kr/logo.png" alt="고코투어">
					
					<span class="schBox">
						<span class="schBor">
							<input type="text" tabindex="1" title="검색어" placeholder="어디로 떠나고 싶으신가요?">
						</span>
						<button class="schBtn" type="submit" tabindex="2" title="검색">
							<span class="c-ic i-mag"></span>
						</button>
					</span>
				</div>
				<div class="flr-box">
					<ul class="rnL-nv clr">
						<li><a href="#" class="myArea"><span class="c-ic i-comp"></span> 내 주변</a></li>
						<li><a href="#">예약내역</a></li>
						<li><a href="#">회원가입</a></li>
						<li class="last"><a href="#" class="lgn">로그인</a></li>
					</ul>
				</div>
			</div>
		</div>
		<script>
			$(function() {
				/*$('#rnL-ts .d1 .i-gCal, #rnL-ts .d1 [class*=Date]').click(function() {
					$('#backDrop').show();
					$('#rnL-ts .rnSltCal-sec').fadeIn();
				});
				$('#backDrop').click(function() {
					$('#rnL-ts .rnSltCal-sec').hide();
					$(this).hide();
				});*/
			});
		</script>
		<!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>
		<div class="rnL-ts bsLs" id="rnL-ts">
			<div class="rn-container">
				<div class="d1">
					<span class="c-ic i-gCal"></span>
					<span class="inDate">2017-09-20</span>
					<span class="c-ic i-rArr"></span>
					<span class="outDate">2017-09-21</span>
					<span class="c-ic i-yChk"></span>
					<span class="night">1박</span>
					<span class="mgl"></span>
					<span class="c-ic i-gSpot"></span>
					<span class="regName">강원</span>
					<span class="regDetail">속초시</span>
					
					<!--달력-->
					<div class="rnSltCal clr">
					
						<div class="cal-inner">
							<p class="p-1"><a href="" class="prev-a"></a><em>2017년 06월</em></p>
							<table class="cal-tb">
								<thead>
									<tr>
										<th class="sun">일</th>
										<th>월</th>
										<th>화</th>
										<th>수</th>
										<th>목</th>
										<th>금</th>
										<th class="sat">토</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="off"><div></div></td>
										<td class="off"><div></div></td>
										<td class="off"><div></div></td>
										<td class="off"><div></div></td>
										<td class="off"><div>1</div></td>
										<td class="off"><div>2</div></td>
										<td class="off"><div>3</div></td>
									</tr>
									<tr>
										<td class="off"><div>4</div></td>
										<td class="off"><div>5</div></td>
										<td class="off"><div>6</div></td>
										<td class="off"><div>7</div></td>
										<td class="off"><div>8</div></td>
										<td class="off"><div>9</div></td>
										<td class="off"><div>10</div></td>
									</tr>
									<tr>
										<td class="off"><div>11</div></td>
										<td class="off"><div>12</div></td>
										<td class="off"><div>13</div></td>
										<td class="off"><div>14</div></td>
										<td class="off"><div>15</div></td>
										<td class="off"><div>16</div></td>
										<td class="off"><div>17</div></td>
									</tr>
									<tr>
										<td class="off"><div>18</div></td>
										<td class="off"><div>19</div></td>
										<td class="off"><div>20</div></td>
										<td class="off"><div>21</div></td>
										<td class="off"><div>22</div></td>
										<td class="off"><div>23</div></td>
										<td class="off"><div>24</div></td>
									</tr>
									<tr>
										<td class="off"><div>25</div></td>
										<!--날짜 미선택시-->
										<!--<td><div>26</div></td>
										<td><div>27</div></td>
										<td><div>28</div></td>-->
										<!--날짜 선택시-->
										<td class="chkIn"><div>26<span class="c-ic i-chkIn"></span></div></td>
										<td class="ing"><div>27</div></td>
										<td class="chkOut"><div>28<span class="c-ic i-chkOut"></span></div></td>
										<td><div>29</div></td>
										<td><div>30</div></td>
										<td><div></div></td>
									</tr>
									<tr>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="cal-inner">
							<p class="p-1"><em>2017년 07월</em><a href="javascript:;" class="next-a"></a></p>
							<table class="cal-tb">
								<thead>
									<tr>
										<th class="sun">일</th>
										<th>월</th>
										<th>화</th>
										<th>수</th>
										<th>목</th>
										<th>금</th>
										<th class="sat">토</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td class="sat"><div>1</div></td>
									</tr>
									<tr>
										<td><div>2</div></td>
										<td><div>3</div></td>
										<td><div>4</div></td>
										<td><div>5</div></td>
										<td><div>6</div></td>
										<td><div>7</div></td>
										<td class="sat"><div>8</div></td>
									</tr>
									<tr>
										<td><div>9</div></td>
										<td><div>10</div></td>
										<td><div>11</div></td>
										<td><div>12</div></td>
										<td><div>13</div></td>
										<td><div>14</div></td>
										<td class="sat"><div>15</div></td>
									</tr>
									<tr>
										<td><div>16</div></td>
										<td><div>17</div></td>
										<td><div>18</div></td>
										<td><div>19</div></td>
										<td><div>20</div></td>
										<td><div>21</div></td>
										<td class="sat"><div>22</div></td>
									</tr>
									<tr>
										<td><div>23</div></td>
										<td><div>24</div></td>
										<td><div>25</div></td>
										<td><div>26</div></td>
										<td><div>27</div></td>
										<td><div>28</div></td>
										<td class="sat"><div>29</div></td>
									</tr>
								</tbody>
							</table>
						</div>
					
						<div class="clr"></div>
						<div class="d-area">
							<a href="#" class="a1"><span class="c-ic i-today"></span> 오늘 날짜로 변경</a>
							<!--날짜 미선택시-->
							<!--<a href="#" class="a2">선택완료</a>-->
							<!--날짜 선택시-->
							<a href="#" class="a2 on">선택완료</a>
						</div>
					</div>
					<script>
						$(function() {
							$('.rnSlgReg').click(function() {
								alert('hi');
							});
						});
					</script>
					
					
					<!--지역-->
					<div class="rnSltReg">
						<div class="slt-dep1">
							<ul class="clr">
								<li><a href="#">서울</a></li>
								<li><a href="#">경기</a></li>
								<li><a href="#">인천</a></li>
								<li class="on"><a href="#">강원</a></li>
								<li><a href="#">대전</a></li>
								<li><a href="#">충북</a></li>
								<li><a href="#">충남</a></li>
								<li><a href="#">부산</a></li>
								<li><a href="#">울산</a></li>
								<li><a href="#">경남</a></li>
								<li><a href="#">대구</a></li>
								<li><a href="#">경북</a></li>
								<li><a href="#">광주</a></li>
								<li><a href="#">전남</a></li>
								<li><a href="#">전북</a></li>
								<li><a href="#">제주</a></li>
							</ul>
						</div>
						<div class="slt-dep2">
							<ul class="clr">
								<li><a href="#">평창군</a></li>
								<li><a href="#">강릉시</a></li>
								<li><a href="#">춘천시</a></li>
								<li><a href="#">양양군</a></li>
								<li><a href="#">홍천군</a></li>
								<li><a href="#">속초시</a></li>
								<li><a href="#">횡성군</a></li>
								<li><a href="#">고성군</a></li>
								<li><a href="#">원주시</a></li>
								<li><a href="#">영원군</a></li>
								<li><a href="#">정선시</a></li>
								<li><a href="#">동해시</a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rnL-ctgr bsLs" id="rnL-ctgr">
			<div class="rn-container">
				<ul class="ul1 clr">
					<li class="on"><a href="#">이 지역추천</a></li>
					<li><a href="#">호텔/리조트</a></li>
					<li><a href="#">펜션/풀빌라</a></li>
					<li><a href="#">게스트하우스</a></li>
					<li><a href="#">모텔</a></li>
					<li><a href="#">캠핑/카라반</a></li>
					<li><a href="#">워터파크</a></li>
					<li><a href="#">테마파크</a></li>
					<li><a href="#">키즈</a></li>
					<li><a href="#">스파/온천</a></li>
					<li><a href="#">레포츠</a></li>
					<li><a href="#">체험/축제</a></li>
					<li><a href="#">탈것</a></li>
				</ul>
				
				<div class="slt-mf">
					<span class="c-ic i-mapv"></span>
					<span class="s-txt"></span>
					<span class="c-ic i-dArr"></span>
				</div>
			</div>
		</div>
		
		<div class="rnL-contents">
			<div class="rn-container">
				<div class="rnL-mfOuter clr">
				
					<div class="rnL-fOuter bsLs clr">
						<div class="d1">
							<h2>검색결과 필터링</h2>
							<div class="d1-1 clr">
								<span class="ipCst">
									<input type="checkbox" id="imd" class="chk-cst">
									<label for="imd"></label>
									<label for="imd">즉시 예약 가능한 숙소만 검색하기</label>
								</span>
								<button type="reset" class="reset">선택 초기화</button>
							</div>
						</div>
						<div class="d1 clr">
							<span class="lbl type1">숙소 유형</span>
							<div class="d1-3">
								<span class="ipCst nth-1">
									<input type="checkbox" id="r-chk1" class="chk-cst">
									<label for="r-chk1"></label>
									<label for="r-chk1">호텔</label>
								</span>
								<span class="ipCst nth-2">
									<input type="checkbox" id="r-chk2" class="chk-cst">
									<label for="r-chk2"></label>
									<label for="r-chk2">리조트</label>
								</span>
								<span class="ipCst nth-3">
									<input type="checkbox" id="r-chk3" class="chk-cst">
									<label for="r-chk3"></label>
									<label for="r-chk3">콘도</label>
								</span>
								<span class="ipCst nth-4">
									<input type="checkbox" id="r-chk4" class="chk-cst">
									<label for="r-chk"></label>
									<label for="r-chk">레지던스</label>
								</span>
								<span class="ipCst nth-5">
									<input type="checkbox" id="r-chk5" class="chk-cst">
									<label for="r-chk5"></label>
									<label for="r-chk5">모텔</label>
								</span>
								<span class="ipCst nth-6">
									<input type="checkbox" id="r-chk6" class="chk-cst">
									<label for="r-chk6"></label>
									<label for="r-chk6">유스호스텔</label>
								</span>

								<br>

								<span class="ipCst nth-7">
									<input type="checkbox" id="r-chk7" class="chk-cst">
									<label for="r-chk7"></label>
									<label for="r-chk7">펜션</label>
								</span>
								<span class="ipCst nth-8">
									<input type="checkbox" id="r-chk8" class="chk-cst">
									<label for="r-chk8"></label>
									<label for="r-chk8">캠핑</label>
								</span>
								<span class="ipCst nth-9">
									<input type="checkbox" id="r-chk9" class="chk-cst">
									<label for="r-chk9"></label>
									<label for="r-chk9">카라반</label>
								</span>
								<span class="ipCst nth-10">
									<input type="checkbox" id="r-chk10" class="chk-cst">
									<label for="r-chk10"></label>
									<label for="r-chk10">풀빌라</label>
								</span>
								<span class="ipCst nth-11">
									<input type="checkbox" id="r-chk11" class="chk-cst">
									<label for="r-chk11"></label>
									<label for="r-chk11">입장권</label>
								</span>
							</div>

						</div>
						<div class="d1 clr" id="htGrdBox">
							<span class="lbl">호텔 등급</span>
							<button class="ht-grd on">없음</button>
							<button class="ht-grd">★</button>
							<button class="ht-grd">★★</button>
							<button class="ht-grd">★★★</button>
							<button class="ht-grd">★★<br>★★</button>
							<button class="ht-grd">★★<br>★★★</button>
						</div>
						<div class="d1 rgBox clr">
							<span class="lbl type1">가격 범위</span>

							<input id="prc-range">
						</div>
						<div class="d1 clr">
							<span class="lbl type1">상세 장소</span>
							<div class="d1-3 wdChkBox">
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk1" class="chk-cst">
									<label for="rgn-chk1"></label>
									<label for="rgn-chk1">강릉</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk2" class="chk-cst">
									<label for="rgn-chk2"></label>
									<label for="rgn-chk2">동해</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk3" class="chk-cst">
									<label for="rgn-chk3"></label>
									<label for="rgn-chk3">삼척</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk4" class="chk-cst">
									<label for="rgn-chk"></label>
									<label for="rgn-chk">속초</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk5" class="chk-cst">
									<label for="rgn-chk5"></label>
									<label for="rgn-chk5">원주</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk6" class="chk-cst">
									<label for="rgn-chk6"></label>
									<label for="rgn-chk6">춘천</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk7" class="chk-cst">
									<label for="rgn-chk7"></label>
									<label for="rgn-chk7">태백</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk8" class="chk-cst">
									<label for="rgn-chk8"></label>
									<label for="rgn-chk8">고성</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk9" class="chk-cst">
									<label for="rgn-chk9"></label>
									<label for="rgn-chk9">양양</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk10" class="chk-cst">
									<label for="rgn-chk10"></label>
									<label for="rgn-chk10">정선</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk11" class="chk-cst">
									<label for="rgn-chk11"></label>
									<label for="rgn-chk11">평창</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk12" class="chk-cst">
									<label for="rgn-chk12"></label>
									<label for="rgn-chk12">홍천</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="rgn-chk13" class="chk-cst">
									<label for="rgn-chk13"></label>
									<label for="rgn-chk13">횡성</label>
								</span>
							</div>
						</div>
						<div class="d1 rgBox scrRgBox clr">
							<span class="lbl type1">고객 평점</span>

							<input id="score-range">
						</div>
						<div class="d1 last clr">
							<span class="lbl type1">고객 편의</span>
							<div class="d1-3 wdChkBox-2">
								<span class="ipCst">
									<input type="checkbox" id="cv-chk1" class="chk-cst">
									<label for="cv-chk1"></label>
									<label for="cv-chk1">Wi-Fi</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk2" class="chk-cst">
									<label for="cv-chk2"></label>
									<label for="cv-chk2">조식</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk3" class="chk-cst">
									<label for="cv-chk3"></label>
									<label for="cv-chk3">주차</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk4" class="chk-cst">
									<label for="cv-chk"></label>
									<label for="cv-chk">욕조</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk5" class="chk-cst">
									<label for="cv-chk5"></label>
									<label for="cv-chk5">에어컨</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk6" class="chk-cst">
									<label for="cv-chk6"></label>
									<label for="cv-chk6">냉장고</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk7" class="chk-cst">
									<label for="cv-chk7"></label>
									<label for="cv-chk7">스파</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk8" class="chk-cst">
									<label for="cv-chk8"></label>
									<label for="cv-chk8">수영장</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk9" class="chk-cst">
									<label for="cv-chk9"></label>
									<label for="cv-chk9">연회장</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk10" class="chk-cst">
									<label for="cv-chk10"></label>
									<label for="cv-chk10">레스토랑</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk11" class="chk-cst">
									<label for="cv-chk11"></label>
									<label for="cv-chk11">노래방</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk12" class="chk-cst">
									<label for="cv-chk12"></label>
									<label for="cv-chk12">바베큐</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk13" class="chk-cst">
									<label for="cv-chk13"></label>
									<label for="cv-chk13">라운지</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk14" class="chk-cst">
									<label for="cv-chk14"></label>
									<label for="cv-chk14">취사가능</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk15" class="chk-cst">
									<label for="cv-chk15"></label>
									<label for="cv-chk15">반려동물</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk16" class="chk-cst">
									<label for="cv-chk16"></label>
									<label for="cv-chk16">TV</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk17" class="chk-cst">
									<label for="cv-chk17"></label>
									<label for="cv-chk17">피트니스</label>
								</span>
								<span class="ipCst">
									<input type="checkbox" id="cv-chk18" class="chk-cst">
									<label for="cv-chk18"></label>
									<label for="cv-chk18">장애인시설</label>
								</span>
							</div>
						</div>

					</div>
					<div class="rnL-mOuter bsLs clr"></div>
					
				</div>
				
				<div class="rnL-listOuter bsLs">
					
					<div class="recC-outer">
						<!--정렬 버튼 없을 경우 schBtn-non 클래스 추가-->
						<div class="h2-box schBtn-non">
							<h2>검색결과</h2>
						</div>
						
						<ul class="rcm-ul">
							<li class="rcm-itm clr">
								<div class="d1">
									<img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1503649557_main1.jpg" alt="상품이미지">
								</div>
								<div class="d2">
									<p class="p1">
										<span class="i-ctgr-01">리조트</span>강원<span class="mgl"></span>고성군
										
									</p>
									<p class="p2"><strong>오션투유리조트 속초설악비치호텔엔콘도</strong></p>
									<div class="p3">
										<p class="p3-1">7.5점<span class="mgl"></span>리뷰 <span class="s1">2</span>건 <span class="s2">패키지</span></p>
										<p class="p3-1">삼포해수욕장 차량 6분 위치</p>
									</div>
								</div>
								<div class="d3">
									<span class="s-blSign">인기상승 중!</span>
									<div class="d3-inner clr">
										<p class="p1">90,000<span>원</span></p>
										<p class="p2">
											<em class="s1">78%<span class="c-ic i-rDnArr"></span></em><s class="s2">400,000원</s>
										</p>
										<p class="p3">회원적립금 <span class="s1">640원</span>적립</p>
										<p class="p4"><a href="#" class="a1">예약하기</a></p>
									</div>
								</div>
							</li>
						</ul>
						<!--배너 추가시-->
						<div class="bn-box">
							<img src="http://img.go.co.kr/bn_app03.jpg">
						</div>
						<div class="h2-box">
							<h2>근초 추천숙소</h2>
							<div id="drop-box" class="drop-box">
								<div class="drop-btn">
									<span class="c-ic i-alg"></span>
									<span class="s-txt">정렬: 추천순</span>
									<span class="c-ic i-dArr"></span>
								</div>
								<ul class="drop-menu">
									<li><a href="javascript:;">평점</a></li>
									<li><a href="javascript:;">낮은 가격</a></li>
									<li><a href="javascript:;">높은 가격</a></li>
									<li><a href="javascript:;">호텔 등급</a></li>
									<li><a href="javascript:;">추천순</a></li>
								</ul>
							</div>
						</div>
						<ul class="rcm-ul">
							<li class="rcm-itm clr">
								<div class="d1">
									<img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1482454780_main1.jpg" alt="상품이미지">
								</div>
								<div class="d2">
									<p class="p1">
										<span class="i-ctgr-02">리조트/콘도</span>강원<span class="mgl"></span>속초시
										
									</p>
									<p class="p2"><strong>팜파스리조트</strong></p>
									<div class="p3">
										<p class="p3-1">9.1점<span class="mgl"></span>리뷰 <span class="s1">30</span>건</p>
										<p class="p3-1">삼포해수욕장 도보 6분 위치</p>
									</div>
								</div>
								<div class="d3">
									<div class="d3-inner clr">
										<p class="p1">58,300<span>원</span></p>
										<p class="p3">회원적립금 <span class="s1">640원</span>적립</p>
										<p class="p4"><a href="#" class="a1">예약하기</a></p>
									</div>
								</div>
							</li>
							<li class="rcm-itm clr">
								<div class="d1">
									<img src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1426745103_main1.jpg" alt="상품이미지">
								</div>
								<div class="d2">
									<p class="p1">
										<span class="i-ctgr-03">호텔</span>강원<span class="mgl"></span>속초시
										
									</p>
									<p class="p2"><strong>더클래스300호텔</strong></p>
									<div class="p3">
										<p class="p3-1">8.9점<span class="mgl"></span>리뷰 <span class="s1">16</span>건 <span class="s2">패키지</span></p>
										<p class="p3-1">삼포해수욕장 도보 16분 위치</p>
									</div>
								</div>
								<div class="d3">
									<div class="d3-inner clr">
										<p class="p1">59,400<span>원</span></p>
										<p class="p2">
											<em class="s1">46%<span class="c-ic i-rDnArr"></span></em><s class="s2">110,000원</s>
										</p>
										<p class="p3">회원적립금 <span class="s1">640원</span>적립</p>
										<p class="p4"><a href="#" class="a1">예약하기</a></p>
									</div>
								</div>
							</li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
		
		
		
		<div id="Footer" style="clear:both"><a>
			</a><div class="f-area"><a>
				</a><div class="f-top"><a>
					</a><div class="policy"><a>
						</a><a href="javascript:utils.pop_open('http://www.go.co.kr/home/policy/join_policy_pop.php', 'join_policy', '')" title="이용약관">이용약관</a>
						&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
						<a href="javascript:utils.pop_open('http://www.go.co.kr/home/policy/privacy_pop.php', 'privacy_policy', '')" title="개인정보처리방침"><b><font color="white">개인정보처리방침</font></b></a>
						&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
						<a href="http://www.go.co.kr/home/brd/?dd=QxsoVg==" title="광고/입점/제휴문의">광고/입점/제휴문의</a>
						&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
						<a href="http://www.go.co.kr/home/customer/" title="고객센터">고객센터</a>
						&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
						<a href="javascript:utils.on('#mailing_pop_wrap')"><img src="http://img.go.co.kr/icon_mail.jpg" alt="메일"> <span class="mail">매주 최저가/특가 상품 소식받기!</span></a>
					</div>
								<div class="family-site">
						<span>패밀리사이트&nbsp;▲</span>
						<ul class="site">
										<li>
							<div class="fam_btn"><a href="http://www.go.co.kr" target="_blank">고코투어</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.tournspa.co.kr" target="_blank">투어앤스파</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.tourgosu.co.kr" target="_blank">투어고수</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.todaygo.co.kr" target="_blank">투데이고</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.allgotour.co.kr" target="_blank">올고투어</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.todotour.co.kr" target="_blank">투두투어</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.toursoon.co.kr" target="_blank">투어순</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.hyutour.co.kr" target="_blank">휴투어</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.didimtour.co.kr" target="_blank">디딤투어</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.trip25.co.kr" target="_blank">트립25</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.oudigo.co.kr" target="_blank">어디고</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.borogogo.co.kr" target="_blank">바로고고</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.watour.co.kr" target="_blank">와투어</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.tourgirl.co.kr" target="_blank">투어걸</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.sinnatour.co.kr" target="_blank">신나투어</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.mitour.co.kr" target="_blank">미투어</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.dagaja.co.kr" target="_blank">다가자</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.tripgogo.co.kr" target="_blank">고고트립</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.hotplan.co.kr" target="_blank">핫플랜</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.gleetour.co.kr" target="_blank">글리투어</a></div>
						</li>
										<li>
							<div class="fam_btn"><a href="http://www.shinetour.co.kr" target="_blank">샤인투어</a></div>
						</li>
										<!-- 사장님 요청으로 이비즈네트웍스 추가 170504 -->
						<li>
							<div class="fam_btn"><a href="http://www.ebiznetworks.co.kr" target="_blank">이비즈네트웍스</a></div>
						</li>
						</ul>
					</div>
					<!-- 2017-03-30 -->
					<script type="text/javascript">
					$('.family-site > span').click(function(){
						$(this).next().toggle();
					});
					</script>
					<!-- // 2017-03-30 -->
							</div>	

				<div class="f-bottom">
								<div class="f_logo"><img src="http://img.go.co.kr/f_logo.gif?ver=20170929115330" alt=""></div>
								<div class="address">
						<p>
							<strong>(주)바로네트웍스</strong><br>
							<span>
								대표이사 : 전병권<br>
								주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
								사업자등록번호 : 215-87-85373												<br>
														통신판매업 : 제2017-서울강남-00561호<br>
														여행업등록번호 : 제2017-07호 
														<br>여행영업보증서 : 국내여행 제100-000-2015 0144 5816호													
								<br>국외여행업등록번호 : 제2017호-26호											</span>
							<a href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=2158785373" target="_blank"><img src="http://img.go.co.kr/btn_copyinfo_gray.gif"></a>
						</p>
										<p class="copy">
												copyright 2015 by GO.CO.KR co., all rights reserved.
																</p>

										<p class="store">
							<a href="http://www.go.co.kr/_appclick.php?val=ios" target="_blank"><img src="http://img.go.co.kr/appstore.png" arc="앱스토어바로가기"></a>
							<a href="http://www.go.co.kr/_appclick.php?val=android" target="_blank"><img src="http://img.go.co.kr/googleplay.png" arc="구글스토어바로가기"></a>
						</p>

					</div>
					<ul class="customer">
						<li class="f_call">
							<p>고객상담 및 빠른객실문의</p>
							<strong>1666-1243</strong>
						</li>
						<li class="f_mail">
							<p>E-mail 문의</p>
												<a href="mailto:help@go.co.kr"><strong>help@go.co.kr</strong></a>
											</li>
					</ul>

					<div class="four-list">
										<img src="http://img.go.co.kr/f_icon01.gif" border="0" alt="랭키닷컴1위">
										<a href="javascript:util.regist_pop('registration02')"><img src="http://img.go.co.kr/f_icon02.gif" border="0" alt="관광업등록증"></a>
						<a href="javascript:util.regist_pop('registration01')"><img src="http://img.go.co.kr/f_icon03.gif" border="0" alt="서울보증보험"></a>
						<img src="http://img.go.co.kr/f_icon04.gif" border="0" alt="신용카드결제">
						<img src="http://img.go.co.kr/f_icon05.gif" border="0" alt="휴대폰결제">
						<script language="JavaScript">
						function onopen() {
							var site_com = "2158785373";
							var url = "http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no="+site_com;
							window.open(url, "communicationViewPopup", "width=750, height=700;");
						}
						</script>
						<img src="http://img.go.co.kr/f_icon06.gif?ver=20150511122719" alt="공정거래위원회" onclick="onopen();" style="cursor:pointer">
					</div>	

				</div>
			</div>
		</div>
	</div>
	

</body>
</html>