<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>고코 리뉴얼</title>

	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css" />
	<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/totalweb.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="../../src/css/reset.css" /> -->
	
	<!--폰트가지고 오기-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	
	<!--리뉴얼Css-->
	<link rel="stylesheet" href="../../src/css/renew/common.css">
	<link rel="stylesheet" href="../../src/css/renew/product/init.css">
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	
	<!--리뉴얼 Js-->
	<script src="../../src/js/renew/common.js"></script>
	<script src="../../src/js/renew/product/init.js"></script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	
	
	<h1 class="hidden">고코투어</h1>
	<!--리뉴얼 wrap 시작-->
	<div class="rn-gwrap">
		<div class="rnL-header clr bsLs">
			<div class="rn-container">
				<div class="d-box clr">
					<a class="logo-a" href="#"><img class="l-img" src="http://img.go.co.kr/logo.png" alt="고코투어"></a>
					
					<div class="schBox">
						<!--키워드검색시 유사 상품 노출-->
						<span class="schBor" id="schBor">
							<input type="text" tabindex="1" title="검색어" placeholder="어디로 떠나고 싶으신가요?" value="제주도">
						</span>
						<button class="schBtn" type="submit" tabindex="2" title="검색">
							<span class="c-ic i-mag"></span>
						</button>
						<div class="schEx">
							<ul class="ul1">
								<li>
									<a href="#">
										<span class="s1 thColor1">제주</span>
										<span class="s2 s-i-Arr rArr"></span>
										<span class="s3">데이즈호텔서귀포오션</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="s1 thColor1">제주</span>
										<span class="s2 s-i-Arr rArr"></span>
										<span class="s3">더클라우트호텔</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="s1 thColor1">제주</span>
										<span class="s2 s-i-Arr rArr"></span>
										<span class="s3">켄싱턴제주호텔</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="s1 thColor1">제주</span>
										<span class="s2 s-i-Arr rArr"></span>
										<span class="s3">부영호텔&amp;리조제주</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="s1 thColor1">제주</span>
										<span class="s2 s-i-Arr rArr"></span>
										<span class="s3">하워드존슨 호텔 제주서귀포하버</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="s1 thColor1">제주</span>
										<span class="s2 s-i-Arr rArr"></span>
										<span class="s3">전체</span>
									</a>
								</li>
							</ul>
							<div class="d-area"><span class="thColor1">고코투어 앱</span>을 통해 예약하면 <span class="thColor1">3만원</span> 쿠폰팩 즉시 지급! <a class="a1" href="#">앱설치하기</a></div>
						</div>
					</div>
					
					<div class="dLink-box">
						<a href="#">이벤트</a>
						<span class="mgl"></span>
						<a href="#">숙소 추천받기</a>
						<span class="mgl"></span>
						<a href="#">광고/입점 제휴문의</a>
					</div>
				</div>
				<div class="flr-box">
					<ul class="rnL-nv clr">
						<li><a href="#" class="myArea"><span class="c-ic i-comp"></span> 내 주변</a></li>
						<li><a href="#">예약내역</a></li>
						<li><a href="#">마이페이지</a></li>
						<li class="last"><a href="#" class="lgn">로그인</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>
		<div class="rnL-ts bsLs" id="rnL-ts">
			<div class="rn-container">
				<div class="d1">
					<span class="c-ic i-gCal"></span>
					<span class="inDate">2017-09-20</span>
					<span class="c-ic i-rArr"></span>
					<span class="outDate">2017-09-21</span>
					<span class="c-ic i-yChk"></span>
					<span class="night">1박</span>
					<span class="mgl"></span>
					<span class="c-ic i-gSpot"></span>
					<span class="regName">강원</span>
					<span class="regDetail">속초시</span>
					
					<!--달력-->
					<div class="rnSltCal rn-modal clr">
					
						<div class="cal-inner">
							<p class="p-1"><a href="" class="prev-a"></a><em>2017년 06월</em></p>
							<table class="cal-tb">
								<thead>
									<tr>
										<th class="sun">일</th>
										<th>월</th>
										<th>화</th>
										<th>수</th>
										<th>목</th>
										<th>금</th>
										<th class="sat">토</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="off"><div></div></td>
										<td class="off"><div></div></td>
										<td class="off"><div></div></td>
										<td class="off"><div></div></td>
										<td class="off"><div>1</div></td>
										<td class="off"><div>2</div></td>
										<td class="off"><div>3</div></td>
									</tr>
									<tr>
										<td class="off"><div>4</div></td>
										<td class="off"><div>5</div></td>
										<td class="off"><div>6</div></td>
										<td class="off"><div>7</div></td>
										<td class="off"><div>8</div></td>
										<td class="off"><div>9</div></td>
										<td class="off"><div>10</div></td>
									</tr>
									<tr>
										<td class="off"><div>11</div></td>
										<td class="off"><div>12</div></td>
										<td class="off"><div>13</div></td>
										<td class="off"><div>14</div></td>
										<td class="off"><div>15</div></td>
										<td class="off"><div>16</div></td>
										<td class="off"><div>17</div></td>
									</tr>
									<tr>
										<td class="off"><div>18</div></td>
										<td class="off"><div>19</div></td>
										<td class="off"><div>20</div></td>
										<td class="off"><div>21</div></td>
										<td class="off"><div>22</div></td>
										<td class="off"><div>23</div></td>
										<td class="off"><div>24</div></td>
									</tr>
									<tr>
										<td class="off"><div>25</div></td>
										<!--날짜 미선택시-->
										<!--<td><div>26</div></td>
										<td><div>27</div></td>
										<td><div>28</div></td>-->
										<!--날짜 선택시-->
										<td class="chkIn"><div>26<span class="c-ic i-chkIn"></span></div></td>
										<td class="ing"><div>27</div></td>
										<td class="chkOut"><div>28<span class="c-ic i-chkOut"></span></div></td>
										<td><div>29</div></td>
										<td><div>30</div></td>
										<td><div></div></td>
									</tr>
									<tr>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="cal-inner">
							<p class="p-1"><em>2017년 07월</em><a href="javascript:;" class="next-a"></a></p>
							<table class="cal-tb">
								<thead>
									<tr>
										<th class="sun">일</th>
										<th>월</th>
										<th>화</th>
										<th>수</th>
										<th>목</th>
										<th>금</th>
										<th class="sat">토</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td class="sat"><div>1</div></td>
									</tr>
									<tr>
										<td><div>2</div></td>
										<td><div>3</div></td>
										<td><div>4</div></td>
										<td><div>5</div></td>
										<td><div>6</div></td>
										<td><div>7</div></td>
										<td class="sat"><div>8</div></td>
									</tr>
									<tr>
										<td><div>9</div></td>
										<td><div>10</div></td>
										<td><div>11</div></td>
										<td><div>12</div></td>
										<td><div>13</div></td>
										<td><div>14</div></td>
										<td class="sat"><div>15</div></td>
									</tr>
									<tr>
										<td><div>16</div></td>
										<td><div>17</div></td>
										<td><div>18</div></td>
										<td><div>19</div></td>
										<td><div>20</div></td>
										<td><div>21</div></td>
										<td class="sat"><div>22</div></td>
									</tr>
									<tr>
										<td><div>23</div></td>
										<td><div>24</div></td>
										<td><div>25</div></td>
										<td><div>26</div></td>
										<td><div>27</div></td>
										<td><div>28</div></td>
										<td class="sat"><div>29</div></td>
									</tr>
								</tbody>
							</table>
						</div>
					
						<div class="clr"></div>
						<div class="d-area">
							<a href="#" class="a1"><span class="c-ic i-today"></span> 오늘 날짜로 변경</a>
							<!--날짜 미선택시-->
							<!--<a href="#" class="a2">선택완료</a>-->
							<!--날짜 선택시-->
							<a href="#" class="a2 on">선택완료</a>
						</div>
					</div>
					
					<!--지역-->
					<div class="rnSltReg rn-modal">
						<div class="slt-dep1">
							<ul class="clr">
								<li><a href="javascript:;">서울</a></li>
								<li><a href="javascript:;">경기</a></li>
								<li><a href="javascript:;">인천</a></li>
								<li class="on"><a href="javascript:;">강원</a></li>
								<li><a href="javascript:;">대전</a></li>
								<li><a href="javascript:;">충북</a></li>
								<li><a href="javascript:;">충남</a></li>
								<li><a href="javascript:;">부산</a></li>
								<li><a href="javascript:;">울산</a></li>
								<li><a href="javascript:;">경남</a></li>
								<li><a href="javascript:;">대구</a></li>
								<li><a href="javascript:;">경북</a></li>
								<li><a href="javascript:;">광주</a></li>
								<li><a href="javascript:;">전남</a></li>
								<li><a href="javascript:;">전북</a></li>
								<li><a href="javascript:;">제주</a></li>
							</ul>
						</div>
						<div class="slt-dep2">
							<ul class="clr">
								<li><a href="javascript:;">평창군</a></li>
								<li><a href="javascript:;">강릉시</a></li>
								<li><a href="javascript:;">춘천시</a></li>
								<li><a href="javascript:;">양양군</a></li>
								<li><a href="javascript:;">홍천군</a></li>
								<li><a href="javascript:;">속초시</a></li>
								<li><a href="javascript:;">횡성군</a></li>
								<li><a href="javascript:;">고성군</a></li>
								<li><a href="javascript:;">원주시</a></li>
								<li><a href="javascript:;">영원군</a></li>
								<li><a href="javascript:;">정선시</a></li>
								<li><a href="javascript:;">동해시</a></li>
								<li><a href="javascript:;"></a></li>
								<li><a href="javascript:;"></a></li>
								<li><a href="javascript:;"></a></li>
								<li><a href="javascript:;"></a></li>
								<li><a href="javascript:;"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rnL-ctgr bsLs" id="rnL-ctgr">
			<div class="rn-container">
				<ul class="ul1 clr">
					<li class="on"><a href="#">이 지역추천</a></li>
					<li><a href="#">호텔/리조트</a></li>
					<li><a href="#">펜션/풀빌라</a></li>
					<li><a href="#">게스트하우스</a></li>
					<li><a href="#">모텔</a></li>
					<li><a href="#">캠핑/카라반</a></li>
					<li><a href="#">워터파크</a></li>
					<li><a href="#">테마파크</a></li>
					<li><a href="#">키즈</a></li>
					<li><a href="#">스파/온천</a></li>
					<li><a href="#">레포츠</a></li>
					<li><a href="#">체험/축제</a></li>
					<li><a href="#">탈것</a></li>
				</ul>
				
			</div>
		</div>
		
		<div class="rn-contents">
			<section class="rn-container prd-basic-sec">
				<h2>[리조트] ★오션투유리조트 속초설악비치 호텔앤콘도 [총판]</h2>
				
				<div class="prd-basic clr">
					<div class="prd-imgBox">
						
					</div>
					<div class="prd-infoBox">
						<div class="d1">
							<a class="a1" href="javascript:;">리얼리뷰 <span class="thColor1">435</span>건</a>
							<span class="mgl"></span>
							<a class="a2" href="javascript:;"><span class="c-ic3 prd-cmm i-heart"></span><span class="s1">찜하기</span></a>
							<span class="mgl"></span>
							<a class="a3" href="javascript:;"><span class="c-ic3 prd-cmm i-share"></span><span class="s1">공유</span></a>
							<span class="mgl"></span>
							<a class="a4" href="javascript:;"><span class="c-ic3 prd-cmm i-users"></span><span class="s1">단체문의</span></a>
							<span class="mgl"></span>
							<a class="a5" href="javascript:;"><span class="c-ic3 prd-cmm i-coupon"></span>
							<span class="s1">3만원 할인</span>
							<span class="c-ic3 prd-cmm i-down"></span></a>
						</div>
						<div class="d-date">
							<div class="d-date-1">
								<p class="p1">체크인</p>
								<p class="p2"><span class="c-ic2 i-chkIn"></span></p>
								<p class="p3">2017-10-18</p>
							</div>
							<div class="d-date-2">
								<p class="p2"></p>
								<p class="p3">1박</p>
							</div>
							<div class="d-date-3">
								<p class="p1">체크아웃</p>
								<p class="p2"><span class="c-ic2 i-chkOut"></span></p>                     
								<p class="p3">2017-10-19</p>
							</div>
						</div>
						<div class="d3">
							<span class="s-lbl">분류</span>
							<span class="s-txt">리조트 (총 객실 수: 249개)</span>
						</div>
						<div class="d4">
							<span class="s-lbl">주소</span>
							<span class="s-txt">강원 고성군 죽왕면 삼포리 243-13</span>
							<a href="javascript:;"><img src="http://img.go.co.kr/landing/point_icon02.jpg" alt="지도보기"></a>
						</div>
						<div class="d5">
							<span class="s-lbl">이용시간</span>
							<span class="s-txt">체크인 15:00 / 체크아웃 11:00</span>
						</div>
						<div class="d6">
							<span class="s-lbl">홈페이지</span>
							<span class="s-txt">http://www.ocezn2you.co.kr</span>
						</div>
					</div>
				</div>
			</section>
			<!--예약하기-->
			<section class="prd-buy-sec">
				<div class="rn-container prd-buy">
					
				</div>
			</section>
			
			<setion class="rn-container prd-common-sec">
				
			</section>
			<!--주변 다른 숙소-->
			<section class="prd-around-sec">
				<div class="prd-around">
					
				</div>
			</section>
		</div>
		
		
		

	</div>
	

</body>
</html>