<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>고코 리뉴얼</title>

	<link rel="stylesheet" type="text/css" href="http://static.go.co.kr/css/reset.css" />
	<!-- <link rel="stylesheet" href="http://static.go.co.kr/css/totalweb.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="../../src/css/reset.css" /> -->
	
	<!--폰트가지고 오기-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	
	<!--리뉴얼Css-->
	<link rel="stylesheet" href="../../src/css/renew/ion.rangeSlider.css">
	<link rel="stylesheet" href="../../src/css/renew/ion.rangeSlider.custom.css">
	<link rel="stylesheet" href="../../src/css/renew/common.css">
	<link rel="stylesheet" href="../../src/css/renew/search/init.css">
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	
	<!--리뉴얼 Js-->
	<script src="http://static.go.co.kr/js/jquery.lazyload.min.js"></script>
	<script src="../../src/js/renew/ion.rangeSlider.min.js"></script>
	<script src="../../src/js/renew/common.js"></script>
	<script src="../../src/js/renew/search/init.js"></script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	<!--
	<span class="c-ic i-mag"></span>
	<span class="c-ic i-comp"></span>
	<span class="c-ic i-blChk"></span>
	<span class="c-ic i-rDnArr"></span>
	<span class="c-ic i-mapv"></span>
	<span class="c-ic i-dArr"></span>
	<span class="c-ic i-alg"></span>
	<span class="c-ic i-gCal"></span>
	<span class="c-ic i-gSpot"></span>
	<span class="c-ic i-rArr"></span>
	<span class="c-ic i-yChk"></span>
	-->
	
	
	<h1 class="hidden">고코투어</h1>
	<!--리뉴얼 wrap 시작-->
	<div class="rn-gwrap">
		<div class="rnL-header clr bsLs">
			<div class="rn-container">
				<div class="d-box clr">
					<a class="logo-a" href="#"><img class="l-img" src="http://img.go.co.kr/logo.png" alt="고코투어"></a>
					
					<div class="schBox">
						<!--키워드검색시 유사 상품 노출-->
						<span class="schBor" id="schBor">
							<input type="text" tabindex="1" title="검색어" placeholder="어디로 떠나고 싶으신가요?" value="제주도">
						</span>
						<button class="schBtn" type="submit" tabindex="2" title="검색">
							<span class="c-ic i-mag"></span>
						</button>
						<div class="schEx">
							<ul class="ul1">
								<li>
									<a href="#">
										<span class="s1 thColor1">제주</span>
										<span class="s2 s-i-Arr rArr"></span>
										<span class="s3">데이즈호텔서귀포오션</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="s1 thColor1">제주</span>
										<span class="s2 s-i-Arr rArr"></span>
										<span class="s3">더클라우트호텔</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="s1 thColor1">제주</span>
										<span class="s2 s-i-Arr rArr"></span>
										<span class="s3">켄싱턴제주호텔</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="s1 thColor1">제주</span>
										<span class="s2 s-i-Arr rArr"></span>
										<span class="s3">부영호텔&amp;리조제주</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="s1 thColor1">제주</span>
										<span class="s2 s-i-Arr rArr"></span>
										<span class="s3">하워드존슨 호텔 제주서귀포하버</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="s1 thColor1">제주</span>
										<span class="s2 s-i-Arr rArr"></span>
										<span class="s3">전체</span>
									</a>
								</li>
							</ul>
							<div class="d-area"><span class="thColor1">고코투어 앱</span>을 통해 예약하면 <span class="thColor1">3만원</span> 쿠폰팩 즉시 지급! <a class="a1" href="#">앱설치하기</a></div>
						</div>
					</div>
					
					<div class="dLink-box">
						<a href="#">이벤트</a>
						<span class="mgl"></span>
						<a href="#">숙소 추천받기</a>
						<span class="mgl"></span>
						<a href="#">광고/입점 제휴문의</a>
					</div>
				</div>
				<div class="flr-box">
					<ul class="rnL-nv clr">
						<li><a href="#" class="myArea"><span class="c-ic i-comp"></span> 내 주변</a></li>
						<li><a href="#">예약내역</a></li>
						<li><a href="#">마이페이지</a></li>
						<li class="last"><a href="#" class="lgn">로그인</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<!--백드롭, 달력 클릭시 뒤에 전체 배경-->
		<div id="backDrop"></div>
		<div class="rnL-ts bsLs" id="rnL-ts">
			<div class="rn-container">
				<div class="d1">
					<span class="c-ic i-gCal"></span>
					<span class="inDate">2017-09-20</span>
					<span class="c-ic i-rArr"></span>
					<span class="outDate">2017-09-21</span>
					<span class="c-ic i-yChk"></span>
					<span class="night">1박</span>
					<span class="mgl"></span>
					<span class="c-ic i-gSpot"></span>
					<span class="regName">강원</span>
					<span class="regDetail">속초시</span>
					
					<!--달력-->
					<div class="rnSltCal rn-modal clr">
					
						<div class="cal-inner">
							<p class="p-1"><a href="" class="prev-a"></a><em>2017년 06월</em></p>
							<table class="cal-tb">
								<thead>
									<tr>
										<th class="sun">일</th>
										<th>월</th>
										<th>화</th>
										<th>수</th>
										<th>목</th>
										<th>금</th>
										<th class="sat">토</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="off"><div></div></td>
										<td class="off"><div></div></td>
										<td class="off"><div></div></td>
										<td class="off"><div></div></td>
										<td class="off"><div>1</div></td>
										<td class="off"><div>2</div></td>
										<td class="off"><div>3</div></td>
									</tr>
									<tr>
										<td class="off"><div>4</div></td>
										<td class="off"><div>5</div></td>
										<td class="off"><div>6</div></td>
										<td class="off"><div>7</div></td>
										<td class="off"><div>8</div></td>
										<td class="off"><div>9</div></td>
										<td class="off"><div>10</div></td>
									</tr>
									<tr>
										<td class="off"><div>11</div></td>
										<td class="off"><div>12</div></td>
										<td class="off"><div>13</div></td>
										<td class="off"><div>14</div></td>
										<td class="off"><div>15</div></td>
										<td class="off"><div>16</div></td>
										<td class="off"><div>17</div></td>
									</tr>
									<tr>
										<td class="off"><div>18</div></td>
										<td class="off"><div>19</div></td>
										<td class="off"><div>20</div></td>
										<td class="off"><div>21</div></td>
										<td class="off"><div>22</div></td>
										<td class="off"><div>23</div></td>
										<td class="off"><div>24</div></td>
									</tr>
									<tr>
										<td class="off"><div>25</div></td>
										<!--날짜 미선택시-->
										<!--<td><div>26</div></td>
										<td><div>27</div></td>
										<td><div>28</div></td>-->
										<!--날짜 선택시-->
										<td class="chkIn"><div>26<span class="c-ic i-chkIn"></span></div></td>
										<td class="ing"><div>27</div></td>
										<td class="chkOut"><div>28<span class="c-ic i-chkOut"></span></div></td>
										<td><div>29</div></td>
										<td><div>30</div></td>
										<td><div></div></td>
									</tr>
									<tr>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="cal-inner">
							<p class="p-1"><em>2017년 07월</em><a href="javascript:;" class="next-a"></a></p>
							<table class="cal-tb">
								<thead>
									<tr>
										<th class="sun">일</th>
										<th>월</th>
										<th>화</th>
										<th>수</th>
										<th>목</th>
										<th>금</th>
										<th class="sat">토</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td><div></div></td>
										<td class="sat"><div>1</div></td>
									</tr>
									<tr>
										<td><div>2</div></td>
										<td><div>3</div></td>
										<td><div>4</div></td>
										<td><div>5</div></td>
										<td><div>6</div></td>
										<td><div>7</div></td>
										<td class="sat"><div>8</div></td>
									</tr>
									<tr>
										<td><div>9</div></td>
										<td><div>10</div></td>
										<td><div>11</div></td>
										<td><div>12</div></td>
										<td><div>13</div></td>
										<td><div>14</div></td>
										<td class="sat"><div>15</div></td>
									</tr>
									<tr>
										<td><div>16</div></td>
										<td><div>17</div></td>
										<td><div>18</div></td>
										<td><div>19</div></td>
										<td><div>20</div></td>
										<td><div>21</div></td>
										<td class="sat"><div>22</div></td>
									</tr>
									<tr>
										<td><div>23</div></td>
										<td><div>24</div></td>
										<td><div>25</div></td>
										<td><div>26</div></td>
										<td><div>27</div></td>
										<td><div>28</div></td>
										<td class="sat"><div>29</div></td>
									</tr>
								</tbody>
							</table>
						</div>
					
						<div class="clr"></div>
						<div class="d-area">
							<a href="#" class="a1"><span class="c-ic i-today"></span> 오늘 날짜로 변경</a>
							<!--날짜 미선택시-->
							<!--<a href="#" class="a2">선택완료</a>-->
							<!--날짜 선택시-->
							<a href="#" class="a2 on">선택완료</a>
						</div>
					</div>
					
					<!--지역-->
					<div class="rnSltReg rn-modal">
						<div class="slt-dep1">
							<ul class="clr">
								<li><a href="javascript:;">서울</a></li>
								<li><a href="javascript:;">경기</a></li>
								<li><a href="javascript:;">인천</a></li>
								<li class="on"><a href="javascript:;">강원</a></li>
								<li><a href="javascript:;">대전</a></li>
								<li><a href="javascript:;">충북</a></li>
								<li><a href="javascript:;">충남</a></li>
								<li><a href="javascript:;">부산</a></li>
								<li><a href="javascript:;">울산</a></li>
								<li><a href="javascript:;">경남</a></li>
								<li><a href="javascript:;">대구</a></li>
								<li><a href="javascript:;">경북</a></li>
								<li><a href="javascript:;">광주</a></li>
								<li><a href="javascript:;">전남</a></li>
								<li><a href="javascript:;">전북</a></li>
								<li><a href="javascript:;">제주</a></li>
							</ul>
						</div>
						<div class="slt-dep2">
							<ul class="clr">
								<li><a href="javascript:;">평창군</a></li>
								<li><a href="javascript:;">강릉시</a></li>
								<li><a href="javascript:;">춘천시</a></li>
								<li><a href="javascript:;">양양군</a></li>
								<li><a href="javascript:;">홍천군</a></li>
								<li><a href="javascript:;">속초시</a></li>
								<li><a href="javascript:;">횡성군</a></li>
								<li><a href="javascript:;">고성군</a></li>
								<li><a href="javascript:;">원주시</a></li>
								<li><a href="javascript:;">영원군</a></li>
								<li><a href="javascript:;">정선시</a></li>
								<li><a href="javascript:;">동해시</a></li>
								<li><a href="javascript:;"></a></li>
								<li><a href="javascript:;"></a></li>
								<li><a href="javascript:;"></a></li>
								<li><a href="javascript:;"></a></li>
								<li><a href="javascript:;"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rnL-ctgr bsLs" id="rnL-ctgr">
			<div class="rn-container">
				<ul class="ul1 clr">
					<li class="on"><a href="#">이 지역추천</a></li>
					<li><a href="#">호텔/리조트</a></li>
					<li><a href="#">펜션/풀빌라</a></li>
					<li><a href="#">게스트하우스</a></li>
					<li><a href="#">모텔</a></li>
					<li><a href="#">캠핑/카라반</a></li>
					<li><a href="#">워터파크</a></li>
					<li><a href="#">테마파크</a></li>
					<li><a href="#">키즈</a></li>
					<li><a href="#">스파/온천</a></li>
					<li><a href="#">레포츠</a></li>
					<li><a href="#">체험/축제</a></li>
					<li><a href="#">탈것</a></li>
				</ul>
				
				<div class="slt-mf">
					<span class="c-ic i-mapv"></span>
					<span class="s-txt"></span>
					<span class="c-ic i-dArr"></span>
				</div>
			</div>
		</div>
		
		<div class="rnL-contents" id="rnL-contents">
			<div class="rn-container">
				<div class="rnL-mfOuter clr">
					
					
					<!--지도검색-->
					<style>
						.rnL-contents .rnL-mOuter {display: block;}

						.iw_inner {/* position: absolute; top: 10px; left: 10px; */ position: relative; background: #fff; width: 243px; height: 86px;  box-shadow: -2px 2px 2px 1px rgba(0,0,0,.25); border-radius: 6px; box-sizing: border-box; overflow: hidden;}
						.iw_inner > div {float: left;}
						.iw_inner .d1 {width: 87px; height: 100%;}
						.iw_inner .d2 {width: 156px; padding: 11px;}
						.iw_inner .d2 > p {line-height: 1.4;}
						.iw_inner .d2 .p1 {font-size: 16px; color: #000000; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
						.iw_inner .d2 .p2 {font-size: 14px; color: #767676; padding-left: 1px;}
						.iw_inner .d2 .p3 {font-size: 19px; color: #fa6b0a; text-align: right;}
						.iw_inner .a-x {display: block; position: absolute; right: 6px; top: 6px; width: 16px; height: 16px;}
						.iw_inner .a-x:before, .iw_inner .a-x:after {content: ""; position: absolute; display: inline-block; width: 1px; height: 16px; background: #b7b7b7; transform-origin: 50% 50%; left: 7px;}
						.iw_inner .a-x:before {
							-webkit-transform: rotate(-45deg);
							-ms-transform: rotate(-45deg);
							-o-transform: rotate(-45deg);
							transform: rotate(-45deg);
						}
						.iw_inner .a-x:after {
							-webkit-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							transform: rotate(45deg);
						}
					</style>
					<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=4F4axLMP8XEWby2zMImL&submodules=geocoder&callback=initMap"></script>
					<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps-geocoder.js"></script>
					<div class="rnL-mOuter bsLs clr" id="rnL-mOuter">
						
						
						<div id="map" style="width:100%; position: relative;"></div>
						
						<!-- <div class="iw_inner clr">
							<div class="d1" style="background: url(http://cache.go.co.kr/media/375/file.go.co.kr/tour/img1/1491388368_1.jpg) center top; background-size: 160px;"></div>
							<div class="d2">
								<p class="p1">오션투유리조트</p>
								<p class="p2">6.5점</p>
								<p class="p3">￦ 64,000</p>
							</div>
							<a href="javascript:;" class="a-x" id="a-x"></a>
						</div>
						<style>.iw_inner {position: absolute; top: 10px; left: 10px;}</style> -->


<script>
$(function() {
	var moHeight = $(window).height() - 205;
	console.log(moHeight);
	var mHeight = $("#rnL-mOuter #map").height(moHeight);

});

var map = null;

function initMap() {
	var HOME_PATH = window.HOME_PATH || '.';
	var MARKER_SPRITE_X_OFFSET = 29,
    MARKER_SPRITE_Y_OFFSET = 50,
    MARKER_SPRITE_POSITION = {
	    "A0": [0, 0],
	    "B0": [MARKER_SPRITE_X_OFFSET, 0],
	    "C0": [MARKER_SPRITE_X_OFFSET*2, 0],
	    "D0": [MARKER_SPRITE_X_OFFSET*3, 0],
	    "E0": [MARKER_SPRITE_X_OFFSET*4, 0],
	    "F0": [MARKER_SPRITE_X_OFFSET*5, 0],
	    "G0": [MARKER_SPRITE_X_OFFSET*6, 0],
	    "H0": [MARKER_SPRITE_X_OFFSET*7, 0],
	    "I0": [MARKER_SPRITE_X_OFFSET*8, 0],

	    "A1": [0, MARKER_SPRITE_Y_OFFSET],
	    "B1": [MARKER_SPRITE_X_OFFSET, MARKER_SPRITE_Y_OFFSET],
	    "C1": [MARKER_SPRITE_X_OFFSET*2, MARKER_SPRITE_Y_OFFSET],
	    "D1": [MARKER_SPRITE_X_OFFSET*3, MARKER_SPRITE_Y_OFFSET],
	    "E1": [MARKER_SPRITE_X_OFFSET*4, MARKER_SPRITE_Y_OFFSET],
	    "F1": [MARKER_SPRITE_X_OFFSET*5, MARKER_SPRITE_Y_OFFSET],
	    "G1": [MARKER_SPRITE_X_OFFSET*6, MARKER_SPRITE_Y_OFFSET],
	    "H1": [MARKER_SPRITE_X_OFFSET*7, MARKER_SPRITE_Y_OFFSET],
	    "I1": [MARKER_SPRITE_X_OFFSET*8, MARKER_SPRITE_Y_OFFSET],

	    "A2": [0, MARKER_SPRITE_Y_OFFSET*2],
	    "B2": [MARKER_SPRITE_X_OFFSET, MARKER_SPRITE_Y_OFFSET*2],
	    "C2": [MARKER_SPRITE_X_OFFSET*2, MARKER_SPRITE_Y_OFFSET*2],
	    "D2": [MARKER_SPRITE_X_OFFSET*3, MARKER_SPRITE_Y_OFFSET*2],
	    "E2": [MARKER_SPRITE_X_OFFSET*4, MARKER_SPRITE_Y_OFFSET*2],
	    "F2": [MARKER_SPRITE_X_OFFSET*5, MARKER_SPRITE_Y_OFFSET*2],
	    "G2": [MARKER_SPRITE_X_OFFSET*6, MARKER_SPRITE_Y_OFFSET*2],
	    "H2": [MARKER_SPRITE_X_OFFSET*7, MARKER_SPRITE_Y_OFFSET*2],
	    "I2": [MARKER_SPRITE_X_OFFSET*8, MARKER_SPRITE_Y_OFFSET*2]
    };


  var map = new naver.maps.Map('map');

  var bounds = map.getBounds(),
    southWest = bounds.getSW(),
    northEast = bounds.getNE(),
    lngSpan = northEast.lng() - southWest.lng(),
    latSpan = northEast.lat() - southWest.lat();

	var markers = [];

	for (var key in MARKER_SPRITE_POSITION) {

	    var position = new naver.maps.LatLng(
	        southWest.lat() + latSpan * Math.random(),
	        southWest.lng() + lngSpan * Math.random());

	    var marker = new naver.maps.Marker({
	        map: map,
	        position: position,
	        title: key,
	        icon: {
	            url: HOME_PATH +'/img/example/sp_pins_spot_v3.png',
	            size: new naver.maps.Size(24, 37),
	            anchor: new naver.maps.Point(12, 37),
	            origin: new naver.maps.Point(MARKER_SPRITE_POSITION[key][0], MARKER_SPRITE_POSITION[key][1])
	        },
	        zIndex: 100
	    });

	    markers.push(marker);
	};


  var myaddress = '강원도 고성군 죽왕면 삼포해변길 9';
  



}


</script>

					</div>
					
				</div>
				
				<div class="rnL-listOuter bsLs" id="rnL-listOuter">
					<!--검색시 예약 현황 퍼센트 등장-->
					<div class="reserPerc clr">
						<div class="perBox">
							<div class="reserChart" id="reserChart">
								<div class="circle-outer top">
									<div class="circle-bodyBg"></div>
									<div class="circle-inner">
										<div class="circle-body"></div>
									</div>
									<div class="circle-bodyBgIn"></div>
								</div>
								<div class="chart-content">
									<p class="text">
										<span class="percent-number">55</span><span class="percent-symbol">%</span>
									</p>
								</div>
							</div>
						</div>
						<div class="psBox">
							<p class="p1">고객님의 선택 날짜에 [강원- 속초/고성/양양]의 객실이 <span class="f-bd">50개 검색</span>되었습니다. <span class="thColor1">- 객실의 55% 이상 예약 완료!</span></p>
							<p class="p1">해당 날짜에 객실 수요가 높습니다. 숙소예약을 서두르세요.</p>
						</div>
					</div>
					
					<div class="bestC-outer">
						<div class="h2-box">
							<h2 class="first">BEST 추천숙소</h2>
						</div>
						<ul class="ul1 clr">
							<li>
								<a href="#">
									<div class="d1" style="background: url('http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1503649557_main1.jpg') no-repeat; background-size: 100% 100%;">
										<img src="http://img.go.co.kr/mobile/banner_lowest_price.gif" alt="온라인최저가보장" class="rn_rowPrc">
									</div>
									<div class="d2">
										<p class="p1">
											<span class="i-ctgr-01">리조트</span>7.5점<span class="mgl"></span>리뷰 <span class="s1">10</span>건
										</p>
										<p class="p2"><strong>오션투유리조트 속초설악비치 호텔</strong></p>
										<p class="p3">
											강원<span class="mgl"></span>고성군
										</p>
										<p class="p4">
											<em class="s1">64,000<span>원</span></em>
											<s class="s2">330,000원</s>
											<em class="s3">81%<span class="c-ic i-rDnArr"></span></em>
										</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="d1" style="background: url('http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1476348760_main1.jpg') no-repeat; background-size: 100% 100%;">
										<img src="http://img.go.co.kr/mobile/banner_lowest_price.gif" alt="온라인최저가보장" class="rn_rowPrc">
									</div>
									<div class="d2">
										<p class="p1">
											<span class="i-ctgr-02">리조트/콘도</span>8.0점<span class="mgl"></span>리뷰 <span class="s1">5</span>건
										</p>
										<p class="p2"><strong>속초현대수콘도미니엄</strong></p>
										<p class="p3">
											강원<span class="mgl"></span>속초시
										</p>
										<p class="p4">
											<em class="s1">64,000<span>원</span></em>
											<s class="s2">200,000원</s>
											<em class="s3">74%<span class="c-ic i-rDnArr"></span></em>
										</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="d1" style="background: url('http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1498529278_main1.jpg') no-repeat; background-size: 100% 100%;">
										<img src="http://img.go.co.kr/mobile/banner_lowest_price.gif" alt="온라인최저가보장" class="rn_rowPrc">
									</div>
									<div class="d2">
										<p class="p1">
											<span class="i-ctgr-03">호텔</span>9.2점<span class="mgl"></span>리뷰 <span class="s1">122</span>건
										</p>
										<p class="p2"><strong>낙산비치호텔</strong></p>
										<p class="p3">
											강원<span class="mgl"></span>양양군
										</p>
										<p class="p4">
											<em class="s1">77,000<span>원</span></em>
										</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
					
					<div class="recC-outer">
						<div class="h2-box">
							<h2>추천숙소</h2>
							<div id="drop-box" class="drop-box">
								<div class="drop-btn">
									<span class="c-ic i-alg"></span>
									<span class="s-txt">정렬: 추천순</span>
									<span class="c-ic i-dArr"></span>
								</div>
								<ul class="drop-menu">
									<li><a href="javascript:;">평점</a></li>
									<li><a href="javascript:;">낮은 가격</a></li>
									<li><a href="javascript:;">높은 가격</a></li>
									<li><a href="javascript:;">호텔 등급</a></li>
									<li><a href="javascript:;">추천순</a></li>
								</ul>
							</div>
						</div>
						
						<ul class="rcm-ul">
							<li class="rcm-itm clr">
								<div class="d1">
									<img class="itm-img" src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1426817972_main1.jpg" data-original="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1426817972_main1.jpg" alt="상품이미지">
								</div>
								<div class="d2">
									<p class="p1">
										<span class="i-ctgr-02">리조트/콘도</span>강원<span class="mgl"></span>고성시
										
									</p>
									<p class="p2"><strong>설악썬밸리리조트</strong></p>
									<div class="p3">
										<p class="p3-1">8.5점<span class="mgl"></span>리뷰 <span class="s1">2</span>건 <span class="s2">패키지</span></p>
										<p class="p3-1">삼포해수욕장 차량 6분 위치</p>
									</div>
								</div>
								<div class="d3">
									<span class="s-blSign">인기상승 중!</span>
									<div class="d3-inner clr">
										<p class="p1">90,000<span>원</span></p>
										<p class="p2">
											<em class="s1">78%<span class="c-ic i-rDnArr"></span></em><s class="s2">400,000원</s>
										</p>
										<p class="p3">회원적립금 <span class="s1">640원</span>적립</p>
										<p class="p4"><a href="#" class="a1">예약하기</a></p>
									</div>
								</div>
							</li>
							<li class="rcm-itm clr">
								<div class="d1">
									<img class="itm-img" src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1482454780_main1.jpg" data-original="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1482454780_main1.jpg" alt="상품이미지">
								</div>
								<div class="d2">
									<p class="p1">
										<span class="i-ctgr-02">리조트/콘도</span>강원<span class="mgl"></span>속초시
										
									</p>
									<p class="p2"><strong>팜파스리조트</strong></p>
									<div class="p3">
										<p class="p3-1">9.1점<span class="mgl"></span>리뷰 <span class="s1">30</span>건</p>
										<p class="p3-1">삼포해수욕장 도보 6분 위치</p>
									</div>
								</div>
								<div class="d3">
									<div class="d3-inner clr">
										<p class="p1">58,300<span>원</span></p>
										<p class="p3">회원적립금 <span class="s1">640원</span>적립</p>
										<p class="p4"><a href="#" class="a1">예약하기</a></p>
									</div>
								</div>
							</li>
							<li class="rcm-itm clr">
								<div class="d1">
									<img class="itm-img" src="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1426745103_main1.jpg" data-original="http://cache.go.co.kr/media/375/file.go.co.kr/tour/img3/1426745103_main1.jpg" alt="상품이미지">
								</div>
								<div class="d2">
									<p class="p1">
										<span class="i-ctgr-03">호텔</span>강원<span class="mgl"></span>속초시
										
									</p>
									<p class="p2"><strong>더클래스300호텔</strong></p>
									<div class="p3">
										<p class="p3-1">8.9점<span class="mgl"></span>리뷰 <span class="s1">16</span>건 <span class="s2">패키지</span></p>
										<p class="p3-1">삼포해수욕장 도보 16분 위치</p>
									</div>
								</div>
								<div class="d3">
									<div class="d3-inner clr">
										<p class="p1">59,400<span>원</span></p>
										<p class="p2">
											<em class="s1">46%<span class="c-ic i-rDnArr"></span></em><s class="s2">110,000원</s>
										</p>
										<p class="p3">회원적립금 <span class="s1">640원</span>적립</p>
										<p class="p4"><a href="#" class="a1">예약하기</a></p>
									</div>
								</div>
							</li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
		
		
		

	</div>
	

</body>
</html>