<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	
	<style>
		div {position: relative; margin-left: 500px; width: 500px; height: 500px;}
		div label {position: absolute; right: 0; }
	</style>
	
</head>
<body>
	
	
	<div>
		<input type="checkbox" id="chk1"><label for="chk1">아아</label>
	</div>
	
						<div class="d1-3 cvChkBox">
							<span class="ipCst">
								<input type="checkbox" id="cv-chk1" class="chk-cst">
								<label for="cv-chk1"></label>
								<label for="cv-chk1">강릉</label>
							</span>
							<span class="ipCst">
								<input type="checkbox" id="cv-chk2" class="chk-cst">
								<label for="cv-chk2"></label>
								<label for="cv-chk2">동해</label>
							</span>
							<span class="ipCst">
								<input type="checkbox" id="cv-chk3" class="chk-cst">
								<label for="cv-chk3"></label>
								<label for="cv-chk3">삼척</label>
							</span>
							<span class="ipCst">
								<input type="checkbox" id="cv-chk4" class="chk-cst">
								<label for="cv-chk"></label>
								<label for="cv-chk">속초</label>
							</span>
							<span class="ipCst">
								<input type="checkbox" id="cv-chk5" class="chk-cst">
								<label for="cv-chk5"></label>
								<label for="cv-chk5">원주</label>
							</span>
							<span class="ipCst">
								<input type="checkbox" id="cv-chk6" class="chk-cst">
								<label for="cv-chk6"></label>
								<label for="cv-chk6">춘천</label>
							</span>
							<span class="ipCst">
								<input type="checkbox" id="cv-chk7" class="chk-cst">
								<label for="cv-chk7"></label>
								<label for="cv-chk7">태백</label>
							</span>
							<span class="ipCst">
								<input type="checkbox" id="cv-chk8" class="chk-cst">
								<label for="cv-chk8"></label>
								<label for="cv-chk8">고성</label>
							</span>
							<span class="ipCst">
								<input type="checkbox" id="cv-chk9" class="chk-cst">
								<label for="cv-chk9"></label>
								<label for="cv-chk9">양양</label>
							</span>
							<span class="ipCst">
								<input type="checkbox" id="cv-chk10" class="chk-cst">
								<label for="cv-chk10"></label>
								<label for="cv-chk10">정선</label>
							</span>
							<span class="ipCst">
								<input type="checkbox" id="cv-chk11" class="chk-cst">
								<label for="cv-chk11"></label>
								<label for="cv-chk11">평창</label>
							</span>
							<span class="ipCst">
								<input type="checkbox" id="cv-chk12" class="chk-cst">
								<label for="cv-chk12"></label>
								<label for="cv-chk12">홍천</label>
							</span>
							<span class="ipCst">
								<input type="checkbox" id="cv-chk13" class="chk-cst">
								<label for="cv-chk13"></label>
								<label for="cv-chk13">횡성</label>
							</span>
						</div>
</body>
</html>